/* Sticky note */
.sticky-note {
    width: 220px;
    min-height: 220px;
    margin: 15px;
    padding: 10px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.15);
    border: none;
    transition: transform 0.2s;
}

.sticky-note:hover {
    transform: scale(1.02);
}

.card-text-large {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    color: #333;
}

.card-text-small {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: #4c4c4c;
}

/* burn button */
.burn-btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
}