@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  border-style: solid;
  border-color: black;
  border-width: 10px;
  border-radius: 3px;
  margin: 60px;
  padding : 60px;
}



body {background-color:beige}
p {background-color:greenyellow}
.not-first-para {background-color:bisque;
                    border-style: solid;
                    border-color: black;
                    border-top-width: 10px;}